.formulario{
    width: 100%;

    .input{
        display: flex;
        align-items: center;
       margin-bottom: 1.5rem;
    }

    label{
        color: $blanco;
        flex: 0 0 10rem;
    }

   input{
       flex: 1 ;
       padding: 1rem;
       border-radius: 10px;
       
   }
}

.alerta{
    padding: 1rem;
    color:$blanco;
    

    &.error{
        background-color: red;
    }
}