.mensaje_resumen{
    text-align: center;
    text-transform: uppercase;
}

.contenedor-resumen{
  
    p{


    }
    span{
        color: $azul;
        font-weight: $bold;
        font-size: 2rem;

    }


  .resumen-servicios{

    .contenedor-servicio{
            border-bottom: 1px solid gray;

        .precio{
            color: $azul;
            font-weight: $bold;
            font-size: 2rem;
        }
    }
  }  
}