
.tabs{
    @include grid(3,1rem);

    button{
        padding: .5rem;
        font-weight: 700;
        border: none;
        background-color: $blanco;
        text-align: center;
        text-transform: uppercase;

        &.tab_actual{
            background-color: $azul;
            color: $blanco;
        }

        &:hover{
            cursor: pointer;
        }
    }


}