body{
    background-color: $negro;
}

.contenedor-salon{
    @include grid(2,2rem);
    height: 100vh;

    @include telefono{
        display: block;
    }

    .imagen{
        background-image: url('../img/1.webp');
        background-size: cover;
        background-position: center center;
        height: auto;
        @include telefono{
           height: 30rem;
        }   
    }
}

.seccion{
    display: none;
    margin-top: $separacion;

    &:first-of-type{
        display: block;
    }
}

